@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
* {
  font-family: "Lora";
}

.navv_brand h1 {
  font-weight: 500;
  font-size: 36px;
}

.navv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #6B6A6A;
  background-color: #fff;
  z-index: 99;
}

.navv .all{
  display: flex;
}

.navv .search_bar {
  display: flex;
  align-items: center;
}

.navv .search_bar input {
  width: 300px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 16px;
  padding: 15px;
  color: #afafaf;
  outline: none;
}

.navv .search_bar i {
  font-size: 20px;
  color: #000;
  position: relative;
  right: 30px;
}

.navv .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.navv .menu li {
  list-style: none;
}

.navv .menu li a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: 0.1s all;
}

.navv .menu li a:hover {
  color: #118da8;
}

.navv button {
  background: #118da8;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: #fff;
  width: 160px;
  height: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.navv .notifications i {
  background: #ffffff;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C4C4C4;
  cursor: pointer;
}

.navv .notifications span{
    font-size: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFAD0F;
    color: #000;
    position: absolute;
    right: 105px;
    top: 17px;
}

.navv .burger_menu{
  display: none;
}

@media screen and (max-width: 1100px) {
  .navv .all{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    background-color: #fff;
    position: fixed;
    top: 0px;
    justify-content: center;
    z-index: 99;
    align-items: center;
  }

  .navv .all .menu{
    flex-direction: column;
    padding-top: 50px !important;
    gap: 15px !important;
    padding-bottom: 50px !important;
  }

  .navv .all .menu a{
    font-size: 30px;
    margin-top: 0 !important;
  }

  .navv .navv_brand{
    z-index: 999;
  }

  .navv .navv_brand h1{
    padding: 30px !important;
  }

  .navv .notifications{
    position: absolute !important;
    z-index: 99;
    top: 40px;
    right: 90px;
  }

  .navv .notifications span{
    top: -5px;
    right: -5px;
  }

  .navv .burger_menu{
    z-index: 999;
    display: block;
    padding-right: 30px !important;
  }

  .navv .auth button{
    font-size: 20px;
    width: 250px;
    height: 50px;
    margin-bottom: 50px !important;
  }

  .navv .burger_menu i{
    font-size: 30px;
    cursor: pointer;
  }
}